@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1b1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #312D2D;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Coinflow/Backgrounds/iPhone_14_Pro_Max_-_1_Coinflow_twfvGScXf.png?updatedAt=1679666639167');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 8rem 0 8rem 0;
}

.account {
  background-image: url('https://ik.imagekit.io/0s9lwb2yr/Coinflow/Backgrounds/Coinflow_-_Account_Registration_RC-BpNFrr.png?updatedAt=1679745002063');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero {
    background-image: url('https://ik.imagekit.io/0s9lwb2yr/Coinflow/Backgrounds/Coinflow_-_Landing__QcqNEcK3.png?updatedAt=1679693748155');
    height: 100vh;
  }
}